body {
  display: flex;
  flex-direction: column;
  font-family:'Roboto', sans-serif;
}

.top-container {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: white;
  flex-grow: 1;
  padding: 0 150px 100px 150px;
}

.middle-container {
  padding: 75px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-middle-container {
  padding: 100px 300px 75px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.bottom-container {
  padding: 150px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  font-size: 18px;
  padding: 30px 0 30px 0;
  display: flex;
  background-color: #1F2937;
  color: white;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 30px 100px 30px 100px;
  display: flex;
  width: 700px;
  background-color: #3882F6;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.banner-button button {
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 5px;
  font-size: 18px;
}

.banner-header {
  margin-bottom: 0;
}

.banner-description {
  margin-top: 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  text-align: left;
  align-self: flex-start;
  width: 670px;
}

.tag {
  display: flex;
  flex: 1;
  align-self: flex-end;
  text-align: right;
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  gap: 320px;
}

h1 {
  font-size: 48px;;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  font-weight: 900;
  width: 300px;
}

.logo {
  flex-shrink: 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: black
}

 a {
   text-decoration: none;
   color: #E5E7EB;
 }

.header-links {
  display: flex;
  flex-shrink: 0;
  list-style: none;
  gap: 20px;
  padding: 0px;
  font-size: 18px;
}

.top-content {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top-content.left {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.top-content.right {
  flex: 1;
  justify-content: flex-end;
  margin: 0;
}

button {
  margin-top: 0px;
  width: 120px;
  height: 35px;
  border-radius: 3px;
  background-color: #3882F6;
  border: none;
  color: white;
  font-weight: bold;
}

.image-placeholder {
  width: 450px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray
}

.squares {
  display: flex;
  gap: 50px;
  flex-shrink: 0;
}

.squares-text {
  display: flex;
  text-align: center;
  flex-shrink: 0;
  gap: 50px;
}

.square-text {
  width: 150px;
  color: gray;
}

.square {
  border-style: solid;
  border-color: #3882F6;
  border-radius: 4px;
  height: 150px;
  width: 150px;
}